@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  background-size: 250% 250%;
  transition: 250ms;
  scroll-behavior: smooth;
  background-color: #E9EAED;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0px;
  color: #27292A;
}

.main-header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: +1;
  transition: 400ms;
  transform-origin: top;
  text-align: center;
  height: 90px;
  width: 100%;
  background-color: white;
  margin-bottom: 70px;

}

.main-header.scroll {
  height: 60px;
  border-bottom: solid 2px #2d776b;
}

.logoLoja {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 90px;
  transition: 400ms;
}

.logoLoja.scroll {
  height: 60px;
  font-size: 40px;
}

.sectionTitleDiv {
  width: 87vw
}


#margin {
  margin-bottom: 0px;
}

.sectionTitle {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  font-size: 5vw;
  font-weight: 700;
  margin: 20px;
  color: #27292A;
  width: inherit;
  text-align: left;
}

.itemsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 97vw;
  align-items: center;
  text-align: center;
  flex-direction: row;
  margin: 0px;
}

.itemDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 406px;
  background-color: white;
  clip-path: polygon(25px 0%, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%, 0% 25px);
  height: 24vw;
  width: 18vw;
  transition: 250ms;
  min-height: 406px;
  min-width: 250px;
}

.cartAddedDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  margin: 0px;
  height: 0px;
  transition: 500ms;
  position: absolute;
  transform-origin: center;
  width: 200px;
}

.cartAddedDiv.appear {
  position: relative;
  transform: scale(1);
  margin-top: 5px;
  height: 0px;
}

.cartAdded {
  height: 1.4vw;
  width: 1.4vw;
  min-height: 20px;
  min-width: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
}


.addedTextDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  margin: 0px;
  transition: 500ms;
  height: 0px;
  transform-origin: center;
}

.addedTextDiv.appear {
  margin: 20px;
  height: 20px;
}

.addedTextDiv.appear {
  transform: scale(1);
  transform-origin: center;
}

.addedText {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
}

.itemImageDiv {
  margin-top: 10px;
  margin-bottom: 20px;
}

.itemImage {
  position: relative;
  height: 13vw;
  width: 13vw;
  min-height: 200px;
  min-width: 200px;
  object-fit: contain;
  border-radius: 5%;
  margin: 10px;
  margin-bottom: 0px;
}

.textItems {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: max(1.2vw, 18px);
  font-style: italic;
  font-weight: 700;
  margin-left: 30px;
  margin-right: 30px;
  margin: 0.6vw;
  height: 20px;
  color: #27292A;
  width: 16vw;
  min-width: 205px;

}

.text {
  text-align: left;
  margin: 0px;
}

.textItems2 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: max(1.1vw, 17px);
  font-weight: 700;
  line-height: 15px;
  width: 16vw;
  min-width: 205px;
  color: #27292A;
}

.itemPrice {
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 700;
  color: #27292A;
  text-align: left;
  margin: 0px;
}

button {
  transition: 250ms;
}

.buyButton {
  color: white;
  background-color: #2d776b;
  border: none;
  border-radius: .1em;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  width: 17vw;
  min-width: 232px;
  font-size: max(1.3vw, 18px);
  margin-bottom: 10x;
  cursor: pointer;
  box-shadow: 0px 3px 0px 0px #ecf843;
  transform: translateY(0px);
  margin: 20px;
  clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
}

.botaoCompra:hover {
  background-color: #5a7e78;
}

.botaoCompra:active {
  box-shadow: 0px 0px 0px 0px #E9EAED;
  transform: translateY(2px);
}


.botaoApagar {
  color: #464646;
  cursor: pointer;
  transition: 200ms;

}

.path {
  pointer-events: none;
}

.botaoApagar:hover {
  color: #27292a;
}

.divGeralBaixo {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  width: 85vw;
  height: 100px;
  transition: 1250ms;
  opacity: 100%;
  transform-origin: center;
}

.divGeralBaixo.animating {
  opacity: 0%;
  margin: 0px;
  height: 0px;
  padding: 0px;
  transform-origin: center;
}

.cartTitles {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.cartTitleDiv {
  width: 85vw;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 20px;
}

.cartTittle {
  right: 50px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.8vw;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.8px;
  color: #27292A;
}


.infosContainerDiv {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  width: 85vw;
  height: 20px;
  transition: 1250ms;
  opacity: 100%;
  transform-origin: center;
  font-style: italic;
  font-weight: 700;
}

.alignmentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 300ms;
  width: inherit;
}

.itemNameDiv {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  transition: 250ms;
}

.itemName {
  width: 8.5vw;
  margin: 0px;
  position: relative;
  display: flex;
  border-radius: 5%;
  justify-content: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.6vw;
  margin: 0px;
}

.sideInfoItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
}

.nameAlignmentDiv {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  transition: 250ms;
  flex-grow: 1;
  flex-shrink: 1;
  width: 10px;
  margin: max(1vw, 27px);
}

.quantityDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  transition: 250ms;
  margin-left: 7vw;
  margin-right: 14vw;
  width: 1vw;
  padding: 0px;
}

.quantityInfo {
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
  border: black;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.6vw;
  text-align: center;
}

.priceInfoDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  transition: 250ms;
  margin-left: 0vw;
  margin-right: 0vw;
  padding: 0px;
  width: 3vw;
}


.priceInfo {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.6vw;
  margin: 0px;
}


.deleteItemAlignmentDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  transition: 250ms;
  padding: 0px;
  margin-left: 6vw;
  width: 14px;
}

.totalPrice {
  display: flex;
  align-items: left;
  justify-content: center;
  right: 50px;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  font-size: 1.8vw;
  letter-spacing: -0.8px;
  font-weight: 700;
  color: #27292A;
}

.cartMainDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex-flow: column;
}

.itensLaterais {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
}

.divOpacidade {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 300ms;
  width: inherit;
}

.divOpacidade.animating {
  opacity: 0%;

}

.divDivItemTitulo {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  transition: 250ms;
  flex-grow: 1;
  flex-shrink: 1;
  width: 10px;
  margin: max(1vw, 27px);
}

.divItemTitulo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: left;
  flex-direction: row;
  transition: 250ms;
  margin: 0px;
  padding: 0px;
}

.divDivInput {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  transition: 250ms;
  margin-left: 7vw;
  margin-right: 14vw;
  width: 1vw;
  padding: 0px;
}

.divItemPreço {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  transition: 250ms;
  margin-left: 0vw;
  margin-right: 0vw;
  padding: 0px;
  width: 3vw;
}

.itemPreço {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.3vw;
  margin: 0px;
}

.divItemInput {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: left;
  flex-direction: row;
  transition: 250ms;
  padding: 0px;
  margin-left: 6vw;
}


.divDivFotoItemCarrinho {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  transition: 250ms;
}


.divFotoItemCarrinho {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  width: 8.5vw;

}

.fotoItemCarrinho {
  width: 100px;
  margin: 0px;
  position: relative;
  display: flex;
  border-radius: 5%;
}

.itemTitulo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  width: 35px;
  height: 35px;
  font-family: 'Barlow Condensed', sans-serif;
  padding: 5px;
  border: black;
}

.valor {
  font-family: 'Barlow Condensed', sans-serif;
  padding: 5px;
  border: black;
  font-size: 15px;
}

.preçoRS {
  font-family: 'Barlow Condensed', sans-serif;
  border: black;
  font-size: 1.8vw;
}


.totalPrice2 {
  font-family: 'Barlow Condensed', sans-serif;
  border: black;
  font-size: 1.8vw;
}

.sticky {
  display: block;
  position: sticky;
  top: 0;
}

.itensSuperiores {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}

.imagemCarrinho {
  height: 20px;
  width: 20px;
  transition: 200ms;
  cursor: pointer;
}

.imagemCarrinho:hover {
  filter: invert(45%) sepia(6%) saturate(4615%) hue-rotate(121deg) brightness(80%) contrast(73%);
}


.imagemLoja {
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: 200ms;
}

.imagemLoja:hover {
  filter: invert(45%) sepia(6%) saturate(4615%) hue-rotate(121deg) brightness(80%) contrast(73%);
}

.cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50vh);
  transition: 500ms;
}

.cartButton.appear {
  transform: translateX(-2vw);
}

.cartButton.movimento {
  transform: translateX(150px);
}

.botaoLoja {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50vh);
  transition: 600ms;
}

.botaoLoja.movimento {
  transform: translateX(2vw);
}

.topicos {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: left;
  flex-direction: column;
  margin-bottom: 20px;
  transition: 1100ms ease-in-out;
  flex-wrap: wrap;
  margin-top: 150px;
}

.topicos.topicosMovimento {
  transform: translateX(-1500px);
}

.topicos.topicosFixed {
  display: flex;
  position: fixed;
}

.cartContainerDiv {
  transform: translateX(-1500px);
  transition: 1100ms ease-in-out;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.cartContainerDiv.carrinhoMovimento {
  transform: translateX(0px);
}

.cartContainerDiv.carrinhoRelative {
  position: relative;
}

.textCarrinhoBotao {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  margin: 0px;
  color: #3C3C3C;
  transition: 200ms;
}

.textCarrinhoBotao:hover {
  color: #2d776b;
}

.hamburguer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

#hblack {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: #27292A;
  opacity: 0%;
  top: 0px;
  transition: 600ms;
  pointer-events: none;
}

#hblack.appear {
  z-index: 1;
  opacity: 30%;
  pointer-events:all;
}

.hamburguerForeground {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  width: 5vw;
  height: 110vh;
  background-color: white;
  top: 0px;
  opacity: 0%;
  transition: 600ms;
  transform: translateX(-20vw);
  pointer-events: none;
}

.hamburguerForeground.appear {
  opacity: 100%;
  transform: translateX(0px);
  pointer-events:all;
}

.hamburguerForeground.scroll {
  top: -15px;
}

.divCloseHamburguer {
  height: 90px;
  width: 5vw;
  left: 0px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}

.divCloseHamburguer.remove {
  left: -150px;
}

.divCloseHamburguer2 {
  height: 90px;
  width: 5vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}

.closeHamburguer {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  z-index: 1;
  cursor: pointer;
}

.hamburguerLink{
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width : 600px) {
  .cartTitleDiv {
    width: 80vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0px;
  }

  .cartTitles {
    text-align: center;
    margin-top: 80px;
  }

  .sectionTitle {
    font-size: 9vw;
    justify-content: center;
    text-align: center;
    width: auto;
  }

  .itemsDiv {
    width: 100vw;
  }

  .itemDiv {
    margin: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    clip-path: polygon(25px 0%, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%, 0% 25px);
    height: 24vw;
    width: 42vw;
    min-height: 370px;
    min-width: 160px;
  }

  .itemImage {
    height: 7vw;
    width: 7vw;
    min-height: 150px;
    min-width: 150px;
  }

  .textItems {
    width: 10vw;
    min-width: 150px;
    margin-bottom: 10px;
  }

  .textItems2 {
    width: 10vw;
    min-width: 150px;
  }

  .buyButton {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    width: 10vw;
    min-width: 160px;
    font-size: max(1.3vw, 18px);
    margin-bottom: 10x;
    margin: 20px;
    clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
  }

  .topicos.topicosMovimento {
    transform: translateX(-600px);
  }

  .cartContainerDiv {
    transform: translateX(-600px);
  }

  .topicos {
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-top: 75px;
  }

  .main-header {
    height: 60px;
  }

  .logoLoja {
    height: 60px;
  }

  .cartButton {
    top: 0px;
  }

  .botaoLoja {
    top: -5px;
  }

  .quantityDiv {
    display: none;
  }

  .divGeralBaixo {
    width: 100vw;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .itemName {
    font-size: 0vw;
  }

  .priceInfo {
    font-size: 0vw;
  }

  .totalPrice2 {
    font-family: 'Barlow Condensed', sans-serif;
    border: black;
    font-size: 0vw;
  }

  .divFotoItemCarrinho {
    width: 30vw;
  }

  .fotoItemCarrinho {
    width: 30vw;
  }

  .cartTitleDiv {
    width: 90vw;
    justify-content: center;
    font-size: 2.3vw;
  }

  .cartTittle {
    font-size: 6vw;
  }

  .totalPrice {
    font-size: 6vw;
  }

  .itensLaterais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: inherit;
  }

  .divDivItemTitulo {
    width: 43vw;
    margin: 0px;
  }

  .divDivInput {
    margin: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: auto;
  }

  .divInput {
    margin: 0px;
  }

  .itemTitulo {
    font-size: 5vw;
    text-align: left;
  }

  .divItemPreço {
    margin: 0px;
    width: auto;
  }

  .divItemInput {
    margin: 6vw;
  }

  .botaoApagar {
    font-size: 3.2vw;
    margin: 0px;
  }

  .itemPreço {
    font-size: 5vw;
  }


  .divDivFotoItemCarrinho {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    transition: 250ms;
    margin: 6vw;
  }

  .preçoRS {
    font-size: 4vw;
  }

  .cartButton.appear {
    transform: translateX(-5.8vw);
  }

  .cartButton.movimento {
    transform: translateX(150px);
  }

  .hamburguerForeground {
    top: -15px;
    width: 15vw;
    display: flex;
    align-items: center;
  }

  .divCloseHamburguer {
    width: 15vw;
  }

}



@media (min-width : 1550px) {
  .topicos.topicosMovimento {
    transform: translateX(-2800px);
  }

  .cartContainerDiv {
    transform: translateX(-2800px);
  }

  .itemDiv {
    margin: 0px;
    height: 25vw;
    width: 18vw;

  }

  .addedTextDiv.appear {
    margin-bottom: 1vw;
  }

}